html {
		--bg: #fff;
		--containerBg: rgba(255, 255, 255, 0.8);
		--bgImage: url(./assets/day.jpg);
		--fg: #222;
		--accent: rgb(30, 172, 2);
		--linkActive: var(--fg);
		--tableBg: #eee;
		--tableBorder: #ccc;
		--divider: #aaa;
		--navActiveBg: rgba(255, 255, 255, 0.5);
		--acrylic: rgba(255, 255, 255, 0.5);
		--navStickBg: rgba(255, 255, 255, 0.5);

	&.dark {
		--bg: #222;
		--containerBg: rgba(40, 40, 40, 0.7);
		--bgImage: url(./assets/night.jpg);
		--fg: #fff;
		--accent: rgb(160, 236, 145);
		--tableBg: #111;
		--tableBorder: #333;
		--divider: #333;
		--navActiveBg: rgba(0, 0, 0, 0.5);
		--acrylic: rgba(0, 0, 0, 0.5);
		--navStickBg: rgba(0, 0, 0, 0.5);
	}
}

body {
		width: 100%;
		margin: 0 auto;
		background-color: var(--bg);
		color: var(--fg);
		background-image: var(--bgImage);
		background-attachment: fixed;
		background-size: cover;
}

footer {
	text-align: center;
	border-top: 1px solid var(--divider);
	margin-top: 16px;
}

a {
	color: var(--accent);
	text-decoration: none;
	&.active {
		color: var(--linkActive);
	}
}

h1 { font-size: 1.6rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.4rem; }
h4 { font-size: 1.3rem; }
h5 { font-size: 1.1rem; }
h6 { font-size: 1rem; }

table {
		background-color: var(--tableBg);
		border-collapse: collapse;

		th, td {
				text-align: left;
				padding: 8px;
				border: 1px solid var(--tableBorder);
		}
}

dl {
	margin: 0;
	> dt {
		float: left;
		clear: left;
		margin-right: 8px;
		font-weight: bold;
	}
}

.vstack {
  display: flex;
  flex-direction: column;
	align-items: stretch;
	width: 100%;

  > *:not(:last-child) {
    margin-bottom: 16px;
  }
}

.hstack {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;

  > *:not(:last-child) {
    margin-right: 16px;
  }
}
